In [20]:
#Dependencies
import pandas as pd
import glob
import warnings
import datetime as dt
warnings.filterwarnings('ignore')
from sqlalchemy import create_engine, Column, Integer, String, Float, Date

In [3]:
#Combine CSV files (without repeating header)
bike_data = glob.glob("*.csv")
df = pd.concat((pd.read_csv(f, header = 0) for f in bike_data))
df

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,1491,3/1/2016 6:52,3/1/2016 7:17,72,W 52 St & 11 Ave,40.767272,-73.993929,427,Bus Slip & State St,40.701907,-74.013942,23914,Subscriber,1982.0,1
1,1044,3/1/2016 7:05,3/1/2016 7:23,72,W 52 St & 11 Ave,40.767272,-73.993929,254,W 11 St & 6 Ave,40.735324,-73.998004,23697,Subscriber,1978.0,1
2,714,3/1/2016 7:15,3/1/2016 7:26,72,W 52 St & 11 Ave,40.767272,-73.993929,493,W 45 St & 6 Ave,40.756800,-73.982912,21447,Subscriber,1960.0,2
3,329,3/1/2016 7:26,3/1/2016 7:31,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,22351,Subscriber,1986.0,1
4,1871,3/1/2016 7:31,3/1/2016 8:02,72,W 52 St & 11 Ave,40.767272,-73.993929,151,Cleveland Pl & Spring St,40.722104,-73.997249,20985,Subscriber,1978.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1566,24:14.5,50:20.9,536,1 Ave & E 30 St,40.741444,-73.975361,482,W 15 St & 7 Ave,40.739355,-73.999318,26507,Subscriber,1995.0,2
1048571,1384,25:12.8,48:16.9,536,1 Ave & E 30 St,40.741444,-73.975361,3458,W 55 St & 6 Ave,40.763094,-73.978350,31503,Subscriber,1965.0,1
1048572,257,38:42.5,43:00.4,536,1 Ave & E 30 St,40.741444,-73.975361,518,E 39 St & 2 Ave,40.747804,-73.973442,31454,Subscriber,1963.0,1
1048573,552,39:36.0,48:48.5,536,1 Ave & E 30 St,40.741444,-73.975361,519,Pershing Square North,40.751873,-73.977706,31096,Subscriber,1967.0,2
1048574,1246,42:54.2,03:40.4,536,1 Ave & E 30 St,40.741444,-73.975361,386,Centre St & Worth St,40.714948,-74.002345,33462,Subscriber,1968.0,1

In [4]:
# Exported file as a new csv
df.to_csv("2016_2018-citibike-tripdata.csv")

In [27]:
# read in data file
df = pd.read_csv("2016_2018-citibike-tripdata.csv")
df.head()

,index,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,0,1491,3/1/2016 6:52,3/1/2016 7:17,72,W 52 St & 11 Ave,40.767272,-73.993929,427,Bus Slip & State St,40.701907,-74.013942,23914,Subscriber,1982.0,1
1,1,1044,3/1/2016 7:05,3/1/2016 7:23,72,W 52 St & 11 Ave,40.767272,-73.993929,254,W 11 St & 6 Ave,40.735324,-73.998004,23697,Subscriber,1978.0,1
2,2,714,3/1/2016 7:15,3/1/2016 7:26,72,W 52 St & 11 Ave,40.767272,-73.993929,493,W 45 St & 6 Ave,40.756800,-73.982912,21447,Subscriber,1960.0,2
3,3,329,3/1/2016 7:26,3/1/2016 7:31,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,22351,Subscriber,1986.0,1
4,4,1871,3/1/2016 7:31,3/1/2016 8:02,72,W 52 St & 11 Ave,40.767272,-73.993929,151,Cleveland Pl & Spring St,40.722104,-73.997249,20985,Subscriber,1978.0,1

In [28]:
# connected to postgres
username = 'postgres'
password = 'x'
# connected to database created in postgres
database = 'citibike_db'
engine = create_engine(f'postgresql://{username}:{password}@localhost/{database}')
connection = engine.connect()

In [29]:
# read csv file in table created in postgres
df.to_sql('tripdata', con=connection, if_exists='append', index=False, method='multi', chunksize=5000)

In [30]:
# closed the connection
connection.close()